
  .brandleft {
    left: 0;
    z-index: 1;
    width: 10%;   
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    /* align-items: center; */
    background-color: rgb(199, 199, 202);
  }
  
  .brandright { 
    right: 0;
    padding-top: 0;
    z-index: 1;
    width: 90%;
    height: 600px;
    /* overflow-y: scroll; */
    position: absolute;
  }
  
  .panel-brand-logo {
    display: flex;
    align-items: center;  
    align-content: center;  
  }

  .panel-brand-logo img{
    width: 70%;
    padding-left: 15px;
    padding-top: 40px;
    background: no-repeat;
    visibility: visible;
    transition: .5s ease-in-out;
    
  }

  .panel-brand-logo:hover img{
      width: 80%;
      transition: .5s ease-in-out;

  }


  .daraz img{
    border-radius: 50% 5px;
  }

  .elo {
      border-radius: none;
  }